@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --poppins-font: "Poppins", sans-serif;
  --dark-color: #0a0a0a;
  --red-color: #f64445;
  --light-color: #fff;
  --grey-color: #505050;
  --yellow-color: #f2c10e;
  --azul-color: #5DD8EC;
  --azul_titulo: #0A3CC1;

}

/* Configuraciones iniciales */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.7rem;
  min-height: 100vh;
  background-color: var(--azul-color);
  /*background: linear-gradient(169deg, #f64445 0%, #611cac 100%);*/
  line-height: 1.6;
  font-family: var(--poppins-font);
  display: flex;
  align-items: center;
  justify-content: stretch;
}

button,
input {
  font-family: inherit;
  font-size: 1.8rem;
  outline: 0;
  border: none;
  background-color: transparent;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
  display: block;
}

/* Configuracion de la carta */

.main-wrapper {

  width: 100%;
  margin-top: 4;
  margin-left: 4;
  margin-bottom: 4;
  margin-right: 4;
}

.app {
  background-color: var(--light-color);
  margin: 2rem;
  padding: 8rem;
  border-radius: 2px;
  color: #fff;
  box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.5);
}

/* Configuracion del Encabezado */
.app-header {
  /*display: flex;*/
  margin-top: -4rem;
  display: grid;
  align-items:start;
  /*justify-content: space-between;*/
  justify-content:left;
}

.app-header-title {
  color: var(--azul_titulo);
}

.app-header-search {
  border: 2px solid var(--grey-color);
  /*border-radius: 3rem;*/
  padding: 1rem 2rem;
  position: relative;
}

.app-header-search .form-control {
  min-width: 420px;
  color: var(--dark-color);
}

.app-header-search .search-btn {
  color: var(--grey-color);
  font-size: 2.3rem;
  cursor: pointer;
}

/* Lista de buscados */
.search-list {
  z-index: 10;
  position: absolute;
  top: calc(100% + 1rem);
  left: 0;
  background-color: var(--light-color);
  width: 100%;
  max-height: 400px;
  overflow-y: scroll;
  /*display: none;*/
}

.search-list::-webkit-scrollbar {
  width: 7px;
}

.search-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.search-list::-webkit-scrollbar-thumb {
  background-color: var(--red-color);
  border-radius: 5px;
}

.search-list-item {
  display: flex;
  align-items: center;
  background-color: var(--dark-color);
  padding: 0.4rem 0;
}

.search-list-item img {
  width: 50px;
  margin-right: 2rem;
}

.search-list-item p {
  font-weight: 700;
  cursor: pointer;
}

/* Cuerpo de la aplicación */

.app-body {
  margin-top: 4rem;
  height: 650px;
  overflow-y: scroll;
}

.app-body::-webkit-scrollbar {
  width: 7px;
}

.app-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.app-body::-webkit-scrollbar-thumb {
  background-color: var(--red-color);
  border-radius: 5px;
}

/* Menus de Informacion */
.app-body-tabs-head {
  /*display: flex;*/
  align-items: center;
  text-align: left;
  /*justify-content: space-between;*/
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  padding-bottom: 1.6rem;
  margin: 2.4rem 0;
}

.app-body-tabs-head-titulo {
  text-transform: uppercase;
  letter-spacing: 1px;
/*  position: relative;*/
  font-weight: 500;
  font-size: 1.9rem;
  color: #fff;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.tab-head-single {
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  font-weight: 500;
  font-size: 1.9rem;
  color: #fff;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.tab-body-single-sinopsis{
  text-transform: none;
  text-align: left;
  letter-spacing: 1px;
  position: relative;
  font-weight: 500;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.tab-body-single-actores{
  text-transform: none;
  text-align: left;
  letter-spacing: 1px;
  position: relative;
  font-weight: 500;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.tab-body-single-detalleinfo{
  text-transform: none;
  text-align: left;
  letter-spacing: 1px;
  position: relative;
  font-weight: 500;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.tab-head-single:hover {
  opacity: 0.9;
}
.tab-head-single.active-tab::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1rem;
  width: 100%;
  height: 4px;
  background-color: var(--azul_titulo);
}

/* Contenido de la aplicación */
.app-body-content{

    background: linear-gradient(169deg, #6d9aac 0%, rgb(3, 75, 94) 100%);
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 4rem;
    margin-right: 0rem;
    height: 650px;
}

.app-body-content-thumbnail{
    width: 100%;
    height: 100%;

    overflow: hidden;
}

.app-body-content-list .name{

    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 3.4rem;
    font-weight: 500;
    margin-top: 1rem;
}

.app-body-tabs-body{
    margin-top: 3.6rem;
}

/* Media Query */

@media screen and (max-width: 1200px) {
    .app-body-content{
        grid-template-columns: 1fr 3fr;
        align-items: center;
    }
    .tab-head-single{
        margin: 1.5rem 0;
    }
    
}

@media screen and (max-width: 1000px) {
    .app-body-content-list .name{
        text-align: center;
        margin-top: 1.8rem;
    }
    .app-body-content{
        grid-template-columns: 1fr;
        row-gap: 4rem;
        max-width: 680px;
        margin-right: auto;
        margin-left: auto;
    }
    .app-body-content-thumbnail{
        max-width: 400px;
        margin: 0 auto;
    }
    
}

@media screen and (max-width: 992px) {
    .app-header{
        flex-direction: column;
    }
    .app-header-search{
        margin-top: 2.8rem;
    }
    
}

@media screen and (max-width:768px) {
    .app-body-tabs-head{
        flex-direction: column;
    }
    .app-header-search{
        border: 2px solid var(--grey-color);
        display: flex;
    }
    .app-header-search .form-control{
        min-width: auto;
        color: var(--dark-color);
        
    }
    .app-header-search .search-btn{
        padding-left: 2rem;
    }
    .app-body-tabs-body{
        margin-right: 3rem;
    }
    
}

.show-tab{
    display: block;
}